/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*All HTML elements have default values for their "margin" and "padding" properties. Giving them the value of "0" makes it easier for us to manipulate the size and positioning of elements*/

nav {
	/*Shorthand property:  Apply padding on all sides*/
	padding: 0.8rem;
	/*Creates space between the nav and the intro section*/
	margin-bottom: 	2rem;
	/*The margin-bottom property only changes the space at the bottom of the element. This is good for instances where a single space is needed to be changed.*/
	border-bottom: 	1px solid gray;
	list-style-type: none;
}
/*Selector Combinator:  Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 	0.5rem;
	display: 	inline;
}

/* # is the ID Selector */
/*block takes full row of width*/

#intro {
	padding-left: 	10%;
	padding-right: 	10%;
	padding-top: 	2rem;
	padding-bottom: 3rem;
	text-align: 	center;
}

.header {
		text-align: center;
}
	
/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align" property is still better to use. Manipulating the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected result.*/

/*We have used descendant selector.*/
#intro button {
	color: 	white;
	font-weight: 	bold;
	background-color: 	#c2195b;
	border-radius: 	25px;
	font-size: 	1rem;
	padding: 	1rem;
}

/*The selector used is a descendant selector even though there is only one button present in the page, this is appropriate aas it helps in code readability telling the developer that the button is located in the intro section.
- The "font-weight" property changes the thickness of text.
- The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button.*/

#succeed-info {
	padding-left: 	10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 2rem;

}

#succeed-info .card {
	margin-bottom: 0.5rem;

}

#succeed-info .card h3 {
	margin-bottom: 0.5rem;

}

#succeed-info .card {
	/*display: inline-block allows the card to appear beside each other*/
	/*display: 	inline-block;*/
	vertical-align: 	top;
	/*vertical-align top allows our elements to be aligned at the top*/
	min-height: 	20px;
	/*Allows for cards to have equal height that adjusts with the content*/
	width: 	100%;
	/*Use only 30% and not 33.33% to avoid overflow and horizontal scrolling*/
	margin-left: 	0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 2rem;
}	

footer {
	padding: 	0.7rem;
}

footer span {
	margin-left: 	0.5rem;
	margin-left: 	0.5rem;
}

/*ACTIVITY*/
/*BG color #002540*/
/*1. Create a git repository named s07.
2. Add the another remote link named activity and push to git with the commit message of Initial commit.
3. Add a CSS rule for the pre-footer section to create space for the content, change the background and text color.
4. Add a CSS rule for the div tags to align the elements horizontally.
5. Add a CSS rule for the all elements inside the div tags to create space between them vertically.
6. Push the changes to git using git push origin master.
7. Add the link in Boodle.*/

#pre-footer {
	background-color: 	#002540;
	color: 	white;
	
}

#pre-footer .pre-footer-card {
	text-align: left;
	vertical-align: 	bottom;
	display: 	inline-block;
	line-height: 	2rem;
	padding-left: 	5%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 2rem;

}	
